/* Variables de color */
:root {
  --primary-color: #006066; /* Verde del logo */
  --secondary-color: #f8f9fa; /* Crema claro */
  --text-color: #333;
  --hover-color: #004d4d; /* Verde m치s oscuro para hover */
  --border-color: #005050; /* Verde oscuro para bordes */
}

/* Reset y estructura */
body {
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

/* Navbar */
.navbar {
  background-color: white !important;
  border-bottom: 3px solid var(--primary-color);
}

.navbar-brand span {
  color: var(--primary-color);
  font-weight: bold;
}

.navbar-brand img {
  height: 70px !important; /* Asegurar que el logo mantenga el nuevo tama침o */
}

/* Enlaces del Navbar */
.navbar-nav .nav-link {
  color: var(--primary-color) !important;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: var(--hover-color) !important;
}

/* Hero Section */
.hero-section {
  background-color: var(--primary-color) !important;
  color: white !important;
  text-align: center;
  padding: 50px 0;
}

.hero-section h1 {
  font-size: 2.5rem;
}

.hero-section p {
  font-size: 1.2rem;
}

/* Botones */
.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: var(--hover-color) !important;
  border-color: var(--hover-color) !important;
}

/* Tarjetas de productos */
.card {
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: var(--primary-color);
  font-weight: bold;
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 15px;
}

/* Bot칩n especial del Header */
.btn-header {
  background-color: var(--secondary-color) !important; /* Crema */
  color: var(--primary-color) !important; /* Verde */
  font-weight: bold;
  border: 2px solid var(--primary-color) !important;
  transition: all 0.3s ease-in-out;
}

.btn-header:hover {
  background-color: #009688 !important; /* Verde m치s claro */
  color: white !important;
  border: 2px solid #009688 !important;
}